{% block collection_entry_label %}{% endblock %}
{% block collection_entry_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block collection_entry_widget %}
    <div class="col-sm-2 mb-2">
        {{ form_widget(form) }}
    </div>
{% endblock %}
