{% block collection_entry_label %}{% endblock %}
{% block collection_entry_row %}
    <div class="col-sm-12 mb-2">
    {{ form_widget(form) }}
    </div>
{% endblock %}
{% block collection_entry_widget %}
    {{ form_widget(form) }}
{% endblock %}
